@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$card-top-border: 4px;

$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(353, 69%, 56%);
$facebook-color: hsl(195, 100%, 50%);
$twitter-color: hsl(203, 89%, 53%);
$instagram-gradient: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youtube-color: hsl(348, 97%, 39%);

$blue-very-dark: hsl(230, 17%, 14%); //very dark blue background and light theme text color
$blue-dark: hsl(232, 19%, 15%); //dark theme top background pattern
$blue-dark-desaturated: hsl(228, 28%, 20%); //dark theme card background
$blue-desaturated: hsl(228, 34%, 66%); //dark theme text

$blue-very-pale: hsl(225, 100%, 98%); //light theme top background pattern
$blue-light-greyish: hsl(227, 47%, 96%); //light theme card background
$blue-dark-greyish: hsl(228, 12%, 44%);

$white: hsl(0, 0, 100%); //text color for dark theme and light theme bg

$themes: (
    "light": (
        "app-bg-color": $white,
        "top-bg-color": $blue-very-pale,
        "main-text-color": $blue-dark-greyish,
        "header-border-color": rgba($blue-dark-greyish, 0.3),
        "header-text-color": $blue-very-dark,
        "theme-switch-bg": hsl(230, 22%, 74%),
        "card-bg-color": $blue-light-greyish,
        "card-bg-hover-color": rgb(225, 227, 240),
        "facebook-color": $facebook-color,
        "twitter-color": $twitter-color,
        "instagram-gradient": $instagram-gradient,
        "youtube-color": $youtube-color,
    ),
    "dark": (
        "app-bg-color": $blue-very-dark,
        "top-bg-color": $blue-dark,
        "main-text-color": $blue-desaturated,
        "header-border-color": rgba($blue-desaturated, 0.3),
        "header-text-color": $white,
        "theme-switch-bg": linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%)),
        "card-bg-color": $blue-dark-desaturated,
        "card-bg-hover-color": rgb(51, 59, 85),
        "facebook-color": $facebook-color,
        "twitter-color": $twitter-color,
        "instagram-gradient": $instagram-gradient,
        "youtube-color": $youtube-color,
    ),
);

@mixin themed() {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function theme($key) {
    @return map-get($theme-map, $key);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    @include themed() {
        background: linear-gradient(
            to bottom,
            theme("top-bg-color") 0,
            theme("top-bg-color") 295px,
            theme("app-bg-color") 295px,
            theme("app-bg-color") 100%
        );
        color: theme("main-text-color");
    }
    min-height: 100vh;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include themed() {
        color: theme("header-text-color");
    }
}

h1 {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 5px;
}

h2 {
    padding-bottom: 25px;
}

#wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    min-width: 375px;
    max-width: 1440px;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .left-side {
        @include themed() {
            border-bottom: 1px solid theme("header-border-color");
        }
        padding-bottom: 20px;
    }

    .right-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 20px;
    }    
}

main,
.container {
    padding-top: 10px;    
}

.container {
    display: flex;
    flex-direction: column;
}

.card-big,
.card-small {
    @include themed() {
        background: theme("card-bg-color");
    }
    display: flex;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    &:hover {
        @include themed() {
            background: theme("card-bg-hover-color");
        }
        cursor: pointer;
    }
}

.card-big {
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 24px;
    min-height: 215px;
    display: flex;
    justify-content: space-between;
    &.facebook:before,
    &.twitter:before,
    &.instagram:before,
    &.youtube:before {
        content: "";
        position: absolute;
        width: 100%;
        border-top-left-radius: $card-top-border;
        border-top-right-radius: $card-top-border;
        height: $card-top-border;
        left: 0;
        top: 0;
    }

    .header,
    .footer {
        display: flex;
        align-items: center;
        font-weight: 700;
    }

    .header {
        padding-top: 20px;
        // &:before {
        //     content: "";
        //     margin-right: 10px;
        //     width: 20px;
        //     height: 20px;
        //     background-repeat: no-repeat !important;
        //     background-size: auto;
        // }
    }

    .footer {
        font-size: 12px;
        padding-bottom: 10px;
    }

    &.facebook {
        .header:before {
            background: url(/images/icon-facebook.svg);
        }

        &:before {
            @include themed() {
                background-color: theme("facebook-color");
            }
        }
    }

    &.twitter {
        .header:before {
            background: url(/images/icon-twitter.svg);
        }
        &:before {
            @include themed() {
                background-color: theme("twitter-color");
            }
        }
    }

    &.instagram {
        .header:before {
            background: url(/images/icon-instagram.svg);
        }

        &:before {
            @include themed() {
                background: theme("instagram-gradient");
            }
        }
    }

    &.youtube {
        .header:before {
            background: url(/images/icon-youtube.svg);
        }
        &:before {
            @include themed() {
                background-color: theme("youtube-color");
            }
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        .number {
            font-size: 55px;
            font-weight: 700;
            @include themed() {
                color: theme("header-text-color");
            }
        }
        .text {
            text-transform: uppercase;
            letter-spacing: 6px;
            font-size: 11px;
        }
    }

    &:last-child {
        margin-bottom: 35px;
    }
}

.card-small {
    min-height: 125px;
    margin-bottom: 20px;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    .header,
    .body,
    .icon,
    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: bold;
    }

    .body {
        font-size: 30px;
        @include themed() {
            color: theme("header-text-color");
        }
    }

    .footer {
        font-size: 12px;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // .left-side {

    // }
    // .right-side {

    // }
}

.up,
.down {
    &:before {
        content: "";
        margin-right: 5px;
        width: 8px;
        height: 5px;
        background-repeat: no-repeat !important;
        background-size: auto;
    }
}

.up {
    color: $lime-green;
    &:before {
        background: url(/images/icon-up.svg);
    }
}

.down {
    color: $bright-red;
    &:before {
        background: url(/images/icon-down.svg);
    }
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    & input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .slider {
            @include themed() {
                background: theme("theme-switch-bg");
            }
        }
        // &:focus + .slider {
        //     box-shadow: 0 0 1px #2196f3;
        // }
        &:checked + .slider:before {
            -webkit-transform: translateX(25px);
            -ms-transform: translateX(25px);
            transform: translateX(25px);
        }
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include themed() {
        background: theme("theme-switch-bg");
    }
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        @include themed() {
            background-color: theme("top-bg-color");
        }
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    &.round {
        border-radius: 24px;
        &:before {
            border-radius: 50%;
        }
    }
}

.attribution {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
        text-decoration: none;
        font-weight: 700;
        &:hover {
            color: hsl(228, 12%, 44%);
        }
    }
}

.align-left {
    align-items: flex-start;
}

.align-right {
    align-items: flex-end;
}


@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .card-big, .card-small {
        width: 49%;
        margin-bottom: 35px !important;
    }
}


@media only screen and (min-width: 992px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .card-big, .card-small {
        width: 24%;
        margin-bottom: 35px !important;
    }
}
